@use "sass:color";

@mixin pulse-anim($name, $color: #fff) {
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 0 0 color.scale($color, $alpha: -30%);
      transform: scale(0.99);
    }

    70% {
      box-shadow: 0 0 0 0.625em color.scale($color, $alpha: -100%);
      transform: scale(1);
    }

    100% {
      box-shadow: 0 0 0 0.625em color.scale($color, $alpha: -100%);
      transform: scale(0.99);
    }
  }
}

@mixin pulse-anim--smooth($name, $color: #fff) {
  @keyframes #{$name} {
    0% {
      box-shadow: 0 0 0 0 color.scale($color, $alpha: -30%);
    }

    70% {
      box-shadow: 0 0 0 0.4rem color.scale($color, $alpha: -100%);
      transform: scale(1);
    }

    100% {
      box-shadow: 0 0 0 0.4rem color.scale($color, $alpha: -100%);
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
